/* CSS style reset */
* {
	margin: 0;
	padding: 0;
}

article {
	border: 1px black solid;
	margin-block: 0.5rem;
	padding: 0.5rem;
	width: 50%;

	.dark-mode & {
		border-color: white;
	}
}

h2 {
	margin-block: 0.3rem;
}

main {
	padding: 1rem 2rem;
}

path {
	fill: none;
	stroke: black;
	stroke-width: 0.2rem;

	.dark-mode & {
		stroke: white;
	}
}

circle {
	fill: white;
	stroke: black;

	.dark-mode & {
		fill: black;
		stroke: white;
		
	}
}

.dark-mode {
	background-color: black;
	color: white;
}
