/* CSS style reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article {
  align-items: center;
  border: 0.2rem black solid;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 0.5rem;
  max-width: 40vw;
  padding: 0.5rem;
  transition: transform 0.15s ease-out;
  width: 100%;

  .dark-mode & {
    border-color: white;
  }

  &:hover {
    transform: scale(1.05);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 1rem;
}

circle {
  fill: white;
  stroke: black;

  .dark-mode & {
    fill: black;
    stroke: white;
  }
}

footer {
  text-align: center;
}

header {
  text-align: center;
}

input {
  accent-color: black;

  .dark-mode & {
    accent-color: white;
   }
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 0.2rem;

  .dark-mode & {
    stroke: white;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}

.title-style {
  background: black;
  color: white;
  
  .dark-mode & {
    background: white;
    color: black;
  }
}
