/* CSS style reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --palette-color-one: #b38a58;
  --palette-color-two: #6f723f;
  --palette-color-three: #3c5233;
  --palette-color-four: #264027;
  --palette-color-five: #0d1f22;

  --accent-color: var(--palette-color-one);
  --accent-color-two: var(--palette-color-two);
  --accent-color-three: var(--palette-color-three);
  --accent-color-four: var(--palette-color-four);
  --text-color: var(--palette-color-five);
}

article {
  align-items: center;
  background-color: var(--accent-color-two);
  border: 0.2rem var(--accent-color-three) solid;
  box-shadow: 0.3rem 0.3rem 0.5rem var(--accent-color-four);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 0.5rem;
  max-width: 35dvw;
  padding: 0.5rem;
  transition: transform 0.15s ease-out;
  width: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

body {
  background-color: var(--accent-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 1rem;
}

button {
  background-color: var(--accent-color-two);
  border-color: var(--accent-color-three);
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.2rem;
  box-shadow: 0.2rem 0.2rem var(--accent-color-three);
  color: var(--text-color);
  font-size: 1.3rem;
  padding: 0.2rem;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: var(--accent-color-four);
    color: var(--accent-color);
  }
} 

circle {
  fill: var(--accent-color);
  stroke: var(--text-color);
}

footer {
  text-align: center;
}

header {
  text-align: center;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

input {
  accent-color: var(--text-color);
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

output {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

path {
  fill: none;
  stroke: var(--text-color);
  stroke-width: 0.2rem;
}

.dark-mode {
  --accent-color: var(--palette-color-five);
  --accent-color-two: var(--palette-color-four);
  --accent-color-three: var(--palette-color-three);
  --accent-color-four: var(--palette-color-two);
  --text-color: var(--palette-color-one);
}

.title-style {
  background: var(--text-color);
  color: var(--accent-color);
}
